.property-panel-container {
    position: relative; /* Ensure positioning context for absolutely positioned children */
    height: 100%;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px; /* Adjusted to be in the top right corner */
}

.arrow-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
}

.arrow-button.left {
    left: 10px;
}

.arrow-button.right {
    right: 10px;
}

.content {
    text-align: center;
}
