.property-preview {
    border: 2px solid #888;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    width: calc(100% - 54px);
    background-color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.property-preview:hover {
    background-color: #444; /* Adjust the hover background color as needed */
}

.property-preview span {
    display: block;
    margin-bottom: 8px;
}