.mission-statement {
    /* investing in a greener tomorrow building sustainable futures, one property at a time. */
    font-style: normal;
    font-weight: 700;
    font-size: 75px;
    line-height: 118px;
}

.greener-text {
    background: linear-gradient(to right, green, lightgreen);
    -webkit-background-clip: text;
    color: transparent;
}

.white-text {
    color: #FDFDFD;
}

.secondary-mission-statement {
    font-style: normal;
    font-size: 30px;
}

.banner-container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}
.banner-container img{
    width: 60%;
    margin-top: 15px;
    margin-bottom: 5%;
}

.filters{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.filters input{
    width: 50px;
    margin-left: 5px;
}